.aboutPage {
  display: flex;
  justify-content: space-between;
  margin-left: 10em;
}

.mainAbout {
  flex-direction: column;
  max-width: 65vw;
}

.aboutText h1 {
  font-size: 4em;
  padding-top: 10rem;
  padding-bottom: 3rem;
}

.aboutText p {
  font-size: 2em;
  font-family: "Oswald", sans-serif;
  text-align: justify;
  margin-bottom: 1em;
  text-indent: 4rem;
}

.aboutText strong {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
}

.aboutText a {
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
}

.profileCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 10rem;
  padding-bottom: 3vh;
}

.profileCards p{
  font-size: 1.5vw;
}