.searchPage{
    display: flex   ;
    justify-content: space-between;
    padding-left: 3vw;
}

.searchSection {
    max-height: 666px;
    display: flex;
    width: 100%;
}

.userSection{
    height: 50%;
    width: 50%;
    
}

.projectSection{
    height: 100%;
    width: 50%;
    border-left: 1px dashed #eee;
    padding-left: 3vw;
}