.searchPage{
    display: flex   ;
    justify-content: space-between;
}

.searchSection {
    max-height: 666px;
    display: flex;
    width: 100%;
}

.userSection{
    height: 50%;
    width: 50%;
    
}

.projectSection{
    height: 50%;
    width: 50%;
}