* {
  margin: 0;
}

.homeMenu ul {
  display: flex;
  justify-content: right;
  flex-direction: column;
  list-style-type: none;
  align-items: flex-end;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.homeMenu li {
  vertical-align: top;
  display: inline-flex;
  align-items: center;
  justify-content: right;
  height: 16.666vh;
  width: 100vw;
  margin-right: 5vw;
  font-size: 30px;
  color: #000;
  letter-spacing: 5px;
}

.homePrincipal {
  background-color: #e50000;
  font-family: bebas-neue, sans-serif;
  opacity: 0.4;
}

.homePrincipal:hover {
  opacity: 1;
}

.accountPrincipal {
  background-color: #f28627;
  font-family: bebas-neue, sans-serif;
  opacity: 0.4;
}

.accountPrincipal:hover {
  opacity: 1;
}

.newProjectPrincipal {
  background-color: #ffee00;
  font-family: bebas-neue, sans-serif;
  opacity: 0.4;
}

.newProjectPrincipal:hover {
  opacity: 1;
}

.searchPrincipal {
  background-color: #008121;
  font-family: bebas-neue, sans-serif;
  opacity: 0.4;
}

.searchPrincipal:hover {
  opacity: 1;
}

.techPersonPrincipal {
  background-color: #004cff;
  font-family: bebas-neue, sans-serif;
  opacity: 0.4;
}

.techPersonPrincipal:hover {
  opacity: 1;
}

.aboutPrincipal {
  background-color: #760188;
  font-family: bebas-neue, sans-serif;
  opacity: 0.4;
}

.aboutPrincipal:hover {
  opacity: 1;
}

