.projectCard {
    width: 70%;
    padding: 1vw;
    padding-left: 3vw;
    letter-spacing: 3px;
}

.projectCard h4{
    font-size: 1.5vw;
    padding-bottom: 1vh;
}

.projectIcons a img{
   width: 2.5vw;
   padding-right: 1.5vw;
   padding-bottom: 0.5vw;
}

.project p {
    font-family: "Oswald", sans-serif;
    font-size: 1.7em;
    letter-spacing: 0;
    padding-bottom: 0.8vw;
}
.span p {
    font-size: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.8vw;
    color: #716D73;
}
hr{
    border: 0;
    border-top: 1px dashed #CCC;
}