li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  /* flex-wrap: wrap; */
  /* vertical-align: top; */
  height: 16.666vh;
  width: 10vw;
  color: #000;
  font-size: 1.4em;
  /* padding: 0; */
}

.home {
  background-color: #e50000;
}

.account {
  background-color: #f28627;
}

.newProject {
  background-color: #ffee00;
}

.search {
  background-color: #008121;
}

.techPerson {
  background-color: #004cff;
}

.about {
  background-color: #760188;
}

li:hover {
  height: 25vh;
}
