.form h4 {
  /* text-align: center; */
  /* font-family: bebas-neue, sans-serif; */
  font-size: 3em;
  letter-spacing: 0.15em;
  padding-bottom: 1.5em;
}

.form {
  padding-top: 5em;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-left: 30vw;
}

.form label {
  display: block;
  text-align: left;
  font-size: 1.7em;
  letter-spacing: 0.12em;
  /* font-family: bebas-neue, sans-serif; */
}

.form button {
  display: inline-block;
  text-align: center;
  /* font-family: bebas-neue, sans-serif; */
  font-size: 2em;
}

.form input {
  width: 100%;
  /* padding: 0.16em 10em; */
  margin: 1em 0;
  border: 0.01em solid #ddd;
  /* box-sizing: border-box; */
  /* display: block; */
}
