.professionalCard {
    width: 70%;
    padding: 1vw;
    padding-left: 3vw;
    letter-spacing: 3px;
}

.professionalCard h4{
    font-size: 1.5vw;
    padding-bottom: 0.7vh;
}

.icons a img{
   width: 2.5vw;
   padding-right: 1.5vw;
   padding-bottom: 1vw;
}

.professionalCard p {
    font-size: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.8vw;
    color: #716D73;
}

p span {
    font-size: 1vw;
    letter-spacing: 2px;
}

hr{
    border: 0;
    border-top: 1px dashed #CCC;
}